<div class="mt-5 mb-5">  
    <img src="https://hms.harvard.edu/sites/default/files/media/850-GettyImages-1223368300.jpg" class="img-circle center" alt="Cinque Terre" height="200" width="250">
    <div>
        <h2><p style="color: royalblue;"><b>Do You Have Smell and Taste?</b></p></h2>
        <button class="button button1" (click)="predict(0)"><b>Yes</b></button>
        <button class="button button2" (click)="predict(50)"><b>Mild</b></button>
        <button class="button button3" (click)="predict(100)"><b>No</b></button>
    </div>
</div>


                                           
                                    
                            
                            