<div class="mt-5 mb-5">  
    <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/what_you_need_to_know_about_fever_slideshow/1800ss_getty_rf_man_looking_at_thermometer.jpg?resize=375px:250px&output-quality=50" class="img-circle center" alt="Cinque Terre" height="200" width="250">
    <div>
        <h2><p style="color: royalblue;"><b>Do You Have Fever?</b></p></h2>
        <button class="button button1" (click)="predict(100)"><b>Yes</b></button>
        <button class="button button2" (click)="predict(50)"><b>Mild</b></button>
        <button class="button button3" (click)="predict(0)"><b>No</b></button>
    </div>
</div>


                                           
                                    
                            
                            